<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.opd" >

    <application>
        <activity android:name=".activity.BaseOpdFormActivity"></activity>
        <activity android:name=".activity.BaseOpdProfileActivity"></activity>
    </application>

</manifest>